<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="/static/invoice.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-3 pt-4"><img src="logo-color.png" alt="" width="200px"></div>
                <div class="col-md-6 px-3 pb-3">
                    <h2 class="">Invoice</h2>
                    <h5 class="h5">Details</h5>
                    <form action="">
                        <label for="" class="st">Date:</label>
                        <input type="text">19/03/2023<br>
                        <label for="" class="st">Invoice No</label>
                        <input type="text" name="" id="">00048
                    </form>
                </div>
                <div class="col-md-6 pb-3">
                    <h5 class="h5">From</h5>
                    <h6>FoodieZone.</h6>
                    <h6>Kolkata</h6>
                    <h6>West Bengal</h6>
                    <h6>9687452468</h6>
                    <h6>foodiezone@gmail.com</h6>
                </div>
                <div class="col-md-6 pb-3">
                    <h5 class="h5">Bill To</h5>
                    <input type="text" name="" id="" inputmode="numeric">Kunal Patel<br>
                    <input type="text" name="" id="">H.No : 23 Near Toll plaza, Kolkata<br>
                    <input type="text" name="" id="">Kolkata,West Bengal<br>
                    <input type="number" name="" id="">6587234519<br>
                    <input type="email" name="" id="">kunal@gmail.com<br>
                </div>
                <div class="col-md-12">
                    <table class="table1">
                        <thead>
                            <tr>
                                <th>Quantity</th>
                                <th class="desc">Description</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Pizza(Large)</td>
                                <td>399</td>
                                <td>798</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Burger</td>
                                <td>149</td>
                                <td>894</td>
                            </tr>
                        </thead>
                    </table>
                    <!-- <div class="col-md-8"></div> -->
                    <div class="col-md-3 pt-5 pb-5">
                        <table class="table2">
                            <tr>
                                <th class="px-3">Subtotal</th>
                                <td><input type="text" name="" id="" class="px-3">1692</td>
                            </tr>
                            <tr>
                                <th class="px-3">Discount</th>
                                <td><input type="text" name="" id="" class="px-3">99</td>
                            </tr>
                            <tr>
                                <th class="px-3">Tax</th>
                                <td><input type="text" name="" id="" class="px-3">143.37</td>
                            </tr>
                            <tr>
                                <th class="px-3">Total</th>
                                <td><input type="text" name="" id="" class="px-3">1449.63</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><br>
            <button type="submit" class="btn" style="height: 40px; width: 10%; background-color: rgb(35, 153, 35);border: 2px solid black; border-radius: 5px;"><a href="/" style="text-decoration: none;color: white;size: 90px;">Home</a></button>
        </div>
    </section>
    <script src="javascript/bootstrap.bundle.min.js"></script>
    <script src="javascript/font.js"></script>
</body>

</html>