<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/order.css">
    <title>This is order page</title>
</head>

<body>

    <div class="menu">
        <div class="heading">
            <h1>Restaurant Food</h1>
            <h3>&mdash;Menu&mdash;</h3>
        </div>
        <div class="food-items">
            <img src="/static/images/b.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Burger</h5>
                    <h5 class="price">$130</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.
                </p>
                <button>Add To Cart</button>
            </div>
        </div>


        <div class="food-items">
            <img src="/static/images/poha.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Poha</h5>
                    <h5 class="price">$50</h5>
                </div>
                <p>
                    Delicious and Healthy breakfast
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>


        <div class="food-items">
            <img src="/static/images/biryani.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Biryani</h5>
                    <h5 class="price">$250</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/images/poori.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Poori</h5>
                    <h5 class="price">$110</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/images/pizza.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Pizza</h5>
                    <h5 class="price">$99</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/dosa.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Dosa</h5>
                    <h5 class="price">$90</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/noodlels.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Noodles</h5>
                    <h5 class="price">$300</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/honey-garlic-chicken.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Honey Garlic Chicken</h5>
                    <h5 class="price">$570</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/soup.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Soup</h5>
                    <h5 class="price">$100</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/papri.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Chaat</h5>
                    <h5 class="price">$90</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/fishcurry.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Fish Curry</h5>
                    <h5 class="price">$350</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/idli.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Idli Sambar</h5>
                    <h5 class="price">$30</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/images/fishfry.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Fish Fry</h5>
                    <h5 class="price">$550</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/kachori-chaat.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Kachori Chaat</h5>
                    <h5 class="price">$55</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/kadai-paneer.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Kadai Paneer</h5>
                    <h5 class="price">$250</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/omlet.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Omlet</h5>
                    <h5 class="price">$70</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/paneertikka.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Paneer Tikka</h5>
                    <h5 class="price">$120</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/samosa.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Samosa</h5>
                    <h5 class="price">$35</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/rajmachawal.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Rajma Chawal</h5>
                    <h5 class="price">$150</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/mushroom.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Mushroom</h5>
                    <h5 class="price">$150</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/chal muri.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Jhal Muri</h5>
                    <h5 class="price">$55</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/Chicken-legpiece.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Legpiece</h5>
                    <h5 class="price">$290</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="food-items">
            <img src="/static/images/kadai-paneer.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>kadai Paneer</h5>
                    <h5 class="price">$300</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto voluptate repudiandae
                    iure rem blanditiis beatae error ex, quaerat perspiciatis, nulla modi cum nisi! Omnis tempore
                    eveniet ea quibusdam nesciunt.

                </p>
                <button>Add To Cart</button>
            </div>
        </div>





    </div>

</body>

</html>